<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="archive">
    {% for post in site.posts %}
    {% unless post.tags contains "_hidden" %}
    {% if include.tagfilter == nil or (post.tags contains include.tagfilter) %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </ul>
</article>
